.content-module-page-editor-module-handler {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
}

.content-module-page-editor-module-handler.highlight {
    border: 3px solid red;
    display: block;
}

.content-module-page-editor-module-handler.active {
    border: 3px solid green;
    display: block;
}
