.visual-editor-form { position: fixed; height: 100%; left: 100%; top: 0; z-index: 1; max-width: 698px; overflow: auto; display: none; background-color: #f6f7f8; box-shadow: -2px 0 2px #CCC; }
.visual-editor-form .cms-content-header { display: block; }
.visual-editor-form .cms-content-header .cms-content-header-info { font-size: 24px; line-height: 36px; }
.visual-editor-form .cms-content-header .cms-content-header-info a { margin-right: 15px; }
.visual-editor-form .cms-content { width: auto; display: block; }
.visual-editor-form .cms-content .cms-content-header { display: none; }
.visual-editor-form .cms-content .cms-panel-padded { width: auto; }
.visual-editor-form .cms-content .cms-content-fields { display: block; }

.cms .visual-editor-form { position: relative; }
.cms .visual-editor-form .better-buttons-utils { display: none; position: absolute; top: 15px; right: 15px; }
.cms .visual-editor-form .gridfield-better-buttons-prevnext-wrap { display: none; }

.cms .visual-editor-preview { width: 100%; height: 100%; }
.cms .visual-editor-preview .visual-editor-preview-scroll { height: 100%; position: relative; width: 100%; background-color: #f6f7f8; }
.cms .visual-editor-preview .visual-editor-preview-outer { background: #d5dde2; border: 1px solid transparent; border-right: 1px solid #cfd9de; width: 100%; height: 100%; }
.cms .visual-editor-preview .visual-editor-preview-outer .visual-editor-preview-inner { box-sizing: border-box; width: 100%; height: 100%; background-color: #FFF; }
.cms .visual-editor-preview.desktop .visual-editor-preview-scroll, .cms .visual-editor-preview.tablet .visual-editor-preview-scroll, .cms .visual-editor-preview.mobile .visual-editor-preview-scroll { overflow: auto; }
.cms .visual-editor-preview.desktop .visual-editor-preview-outer, .cms .visual-editor-preview.tablet .visual-editor-preview-outer, .cms .visual-editor-preview.mobile .visual-editor-preview-outer { padding: 0 16px 16px; border-radius: 7px; margin: 0 auto; }
.cms .visual-editor-preview fieldset.switch-states.size_2 label { color: rgba(31, 31, 31, 0.5); }
.cms .visual-editor-preview fieldset.switch-states.size_2 label.active { color: #fff; }
.cms .visual-editor-preview fieldset.switch-states.size_2 label.active:nth-of-type(2) ~ .slide-button { left: 50%; }

.visual-editor-toolbox { float: right; padding: 12px 16px 0 0; }
.visual-editor-toolbox form.site-tree-form { display: inline-block; vertical-align: middle; }
.visual-editor-toolbox form.site-tree-form .field { width: 200px; border: 0; margin: 0; padding: 0; }
.visual-editor-toolbox form.site-tree-form .field div.TreeDropdownField { background: none; color: #0071c4; border: 0; border-bottom: 1px solid #0071c4; border-radius: 0; }
.visual-editor-toolbox form.site-tree-form .field div.TreeDropdownField:focus { box-shadow: none; }
.visual-editor-toolbox form.site-tree-form .field div.TreeDropdownField .treedropdownfield-title { width: 80%; }
.visual-editor-toolbox form.site-tree-form .field div.TreeDropdownField .treedropdownfield-panel { background: #0071c4; color: #FFF; }
.visual-editor-toolbox form.site-tree-form .field div.TreeDropdownField .treedropdownfield-panel .jstree ins { width: 8px; background-position: -40px 20px; }
.visual-editor-toolbox form.site-tree-form .field div.TreeDropdownField .treedropdownfield-panel .jstree li { font-size: 14px; }
.visual-editor-toolbox form.site-tree-form .field div.TreeDropdownField .treedropdownfield-panel .jstree li a { border: 0; font-size: 14px; color: #FFF; text-shadow: none; }
.visual-editor-toolbox form.site-tree-form .field div.TreeDropdownField .treedropdownfield-panel .jstree li a.jstree-hovered, .visual-editor-toolbox form.site-tree-form .field div.TreeDropdownField .treedropdownfield-panel .jstree li a.jstree-clicked { background: none; font-style: italic; border: 1px solid #0071c4; color: #EEE; }
.visual-editor-toolbox ul { display: inline-block; vertical-align: middle; }
.visual-editor-toolbox ul li { display: inline-block; font-size: 30px; margin-left: 20px; }

.module-manager { padding: 20px; }
.module-manager .ui-tabs .ui-tabs-nav { margin-top: 0; }
.module-manager .module-sorter .module { border: 1px solid #000; padding: 10px; margin-bottom: 20px; position: relative; cursor: move; }
.module-manager .module-sorter .module h4 { font-size: 20px; line-height: 20px; font-weight: normal; margin: 0; }
.module-manager .module-sorter .module .links { position: absolute; font-size: 20px; right: 10px; top: 10px; }
.module-manager .module-sorter .module .links a { cursor: pointer; }
.module-manager .module-sorter .module .links a.unlink { color: red; }

#Form_ModuleAddForm .optionset ul { width: 80%; }
#Form_ModuleAddForm .optionset li { display: list-item; float: none; width: 100%; }
#Form_ModuleAddForm .optionset li label { display: inline-block; padding-bottom: 5px; }
#Form_ModuleAddForm .optionset li label .module-icon { background: url("../images/icon.png") no-repeat; width: 16px; height: 16px; float: none; display: inline-block; margin-right: 5px; margin-bottom: -3px; }
#Form_ModuleAddForm .optionset li label .title { width: 200px; padding-right: 10px; float: none; display: inline-block; }
#Form_ModuleAddForm .optionset li label .description { display: inline-block; clear: none; }

[draggable=true] { -khtml-user-drag: element; }
