.visual-editor-form {
  position: fixed;
  height: 100%;
  left: 100%;
  top: 0;
  z-index: 1001;
  max-width:698px;
  overflow: auto;
  display: none;
  background-color: #f6f7f8;
  box-shadow: -2px 0 2px #CCC;

  .cms-content-header {
    display: block;

    .cms-content-header-info {
      font-size: 24px;
      line-height: 36px;

      a {
        margin-right: 15px;
      }
    }
  }

  .cms-content {
    width: auto;
    display: block;

    .cms-content-header {
      display: none;
    }

    .cms-panel-padded {
      width: auto;
    }

    .cms-content-fields {
      display: block;
    }
  }
}

//position better buttons with back/reload controls
.cms {
  .visual-editor-form {
    position:relative;

    //not working properly yet
    .better-buttons-utils {
      display: none;
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}


.cms {
  .visual-editor-preview {
    width: 100%;
    height: 100%;

    .visual-editor-preview-scroll {
      height: 100%;
      position: relative;
      width: 100%;
      background-color: #f6f7f8;
    }

    .visual-editor-preview-outer {
      background: #d5dde2;
      border: 1px solid transparent;
      border-right: 1px solid #cfd9de;
      width: 100%;
      height: 100%;

      .visual-editor-preview-inner {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: #FFF;
      }
    }

    &.desktop, &.tablet, &.mobile {
      .visual-editor-preview-scroll {
        overflow: auto;
      }

      .visual-editor-preview-outer {
        padding: 0 16px 16px;
        border-radius: 7px;
        margin: 0 auto;
      }
    }

    fieldset.switch-states.size_2 label {
      color: rgba(31, 31, 31, 0.5);

      &.active {
        color: #fff;

        &:nth-of-type(2) ~ .slide-button {
          left: 50%;
        }
      }
    }
  }
}

.visual-editor-toolbox {
  float: right;
  padding: 12px 16px 0 0;

  ul {
    li {
      display: inline-block;
      font-size: 30px;
      margin-left: 20px;
    }
  }
}

//old toolbox
//.visual-editor-toolbox {
//  background-color: rgba(0, 0, 0, 0.7);
//  padding: 10px;
//  min-height: 200px;
//  position: fixed;
//  left: 200px;
//  top: 100px;
//  z-index: 1000;
//  width: 100px;
//
//  ul {
//    display: block;
//    margin: 0;
//    padding: 0;
//    font-size: 0;
//    text-align: justify;
//
//    li {
//      display: inline-block;
//      font-size: 38px;
//      width: 40px;
//      height: 40px;
//      line-height: 40px;
//      text-align:center;
//      color: #FFF;
//      margin: 0 0 10px 0;
//
//      a {
//        color: #FFF;
//
//        &:hover {
//          color:#338DC1;
//        }
//      }
//
//      &:nth-child(2n) {
//        margin: 0 0 10px 10px;
//      }
//    }
//  }
//}

.module-manager {
  padding: 20px;

  .ui-tabs {
    .ui-tabs-nav {
      margin-top: 0;
    }
  }
  .module-sorter {
    .module {
      border: 1px solid #000;
      padding: 10px;
      margin-bottom: 20px;
      position: relative;
      cursor: move;

      h4 {
        font-size: 20px;
        line-height: 20px;
        font-weight: normal;
        margin: 0;
      }

      .links {
        position: absolute;
        font-size: 20px;
        right: 10px;
        top: 10px;

        a {
          cursor: pointer;

          &.unlink {
            color: red;
          }
        }

      }
    }
  }
}

#Form_ModuleAddForm {
  .optionset {
    ul {
      width: 80%;
    }

    li {
      display: list-item;
      float: none;
      width: 100%;

      label {
        display: inline-block;
        padding-bottom: 5px;

        .module-icon {
          background: url('../images/icon.png') no-repeat;
          width: 16px;
          height: 16px;
          float: none;
          display: inline-block;
          margin-right: 5px;
          margin-bottom: -3px;
        }

        .title {
          width: 200px;
          padding-right: 10px;
          float: none;
          display: inline-block;
        }

        .description {
          display: inline-block;
          clear: none;
        }
      }
    }
  }
}

[draggable=true] {
  -khtml-user-drag: element;
}
